/* TikTok feed */
html[data-nfe-enabled='true'] main > :not(#nfe-container) {
	display: none;
}

html[data-nfe-enabled='true'] main > #nfe-container {
	width: 100%;
	font-size: 24px;
	padding: 128px;
}
